<div class="account">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp">
            <h3>Account <small>{{address}}</small></h3>
            <div class="card-body">
            	<div class="contract" ng-repeat="contract in contracts" ng-if="contract.balance > 0">
            		<div class="contract-item">{{contract.tokenName}}</div>
                	<div class="contract-item">Balance: <strong>{{contract.balance}}</strong></div>
                	<div class="contract-item">
                		<a href="#/send/{{contract.address}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    		Send
                    	</a>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>