html, body {
	background-color:#f0f0f0;
	font-family: "purista-web";
}

.mdl-card {
	width:600px !important;
	h3 {
		background-color:#00BCD4;
		padding:32px;
		margin:0;
		color:#fff;
		font-weight: 300;
	}
	.card-body {
		padding:32px;
		.item {
			margin-bottom:12px;
			.key {
				font-size:22px;
				margin-bottom:6px;
			}
			.value {
				font-size:14px;
				color:gray;
			}
		}
		ul {
			li {
				border-bottom:1px solid #d6d6d6;
			}
		}
	}
}

.mdl-progress-container {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	z-index:100;
	background-color:rgba(0,0,0,0.56);
	display:flex;
	align-items:center;
	.mdl-progress {
		margin:auto;
	}
}

.blockchain1-bg:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.16;
    background-image: url('images/blockchain1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.blockchain2-bg:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.16;
    background-image: url('images/blockchain3.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.account {
	.token {
		background-color:#ff00ff;
		padding:32px;
	}
}

.contract {
	margin-bottom:32px;
}
