<div class="register blockchain2-bg">
	<div layout="column" layout-align="center center">
		<div class="whiteframe">
			<h1>Register</h1>
			<div layout="column" laytout-align="center center">
				<md-input-container flex>
					<label>Company Name</label>
					<input ng-model="company" type="text" id="company">
				</md-input-container>
				<md-input-container flex>
					<label>Username</label>
					<input ng-model="username" type="text" id="username">
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center">
				<md-input-container flex>
					<label>Password</label>
					<input ng-model="password" type="text" id="password">
				</md-input-container>
				<md-input-container flex>
					<label>Confirm Password</label>
					<input ng-model="verifyPassword" type="text" id="verifyPassword">
				</md-input-container>
			</div>
			<md-button class="md-raised md-primary md-btn-large" ng-click="register()">Register</md-button>
		</div>
	</div>
</div>