<div class="contracts">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp">
            <h3>New Contract</h3>
            <div class="card-body">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
                    <input ng-model="tokenName" class="mdl-textfield__input" type="text" id="tokenName">
                    <label class="mdl-textfield__label" for="tokenName">Token Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
                    <input ng-model="initialSupply" class="mdl-textfield__input" type="number" id="initialSupply">
                    <label class="mdl-textfield__label" for="initialSupply">Initial Supply</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
                    <input ng-model="decimalUnits" class="mdl-textfield__input" type="number" id="decimalUnits">
                    <label class="mdl-textfield__label" for="decimalUnits">Decimal Units</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
                    <input ng-model="tokenSymbol" class="mdl-textfield__input" type="text" id="tokenSymbol">
                    <label class="mdl-textfield__label" for="tokenSymbol">Token Symbol</label>
                </div>
                <div>
                    <button ng-click="create()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp">
            <h3>Contracts</h3>
            <div class="card-body">
                <div ng-repeat="contract in contracts">
                    <div class="contract">
                        <div class="contract-item">
                            <a href="#/contract/{{contract.address}}">{{contract.address}}</a>
                        </div>
                        <div class="contract-item">
                            {{contract.tokenName}} {{contract.tokenSymbol}}
                        </div>
                        <div class="contract-item">
                            {{contract.initialSupply}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>