<div class="accounts">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp">
            <h3>Transaction Complete</h3>
            
            <div class="card-body">
                <div class="item" ng-if="policy">
                    <div class="key">Policy</div>
                    <div class="value">{{policy}}</div>
                </div>
                <div class="item" ng-if="transId">
                    <div class="key">Transaction</div>
                    <div class="value">{{transId}}</div>
                </div>

                <ul class="demo-list-three mdl-list">
                    <li class="mdl-list__item mdl-list__item--three-line" ng-repeat="acc in accountList">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">check</i>
                            <span>{{acc.name}}</span>
                            <span class="mdl-list__item-text-body">{{acc.address}}</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span class="mdl-list__item-secondary-action">
                                {{acc.balance | currency }}
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>